
<head>
	<title>Welcome admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<!-- căn Vertical center -->
    <div class="container h-100">
      	<div class="row h-100 justify-content-center align-items-center">
        	<div class="col" style="text-align: center;">
		
				<form action="" method="post">
					<input class="btn btn-primary" type="submit" name="add_data" value="Add record">
					<input class="btn btn-warning" type="submit" name="delete_data" value="Delete record">
					<input class="btn btn-danger" type="submit" name="logout" value="Logout">
				</form>
			
			</div>
	 	</div>
	</div>	
</body>
